/* Header.css */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Reduce padding */
    background-color: red;
    color: white;
    height: 50px; /* Set a fixed height for the navbar */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.navbar-nav {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar-item {
    margin: 0 5px; /* Reduce space between navbar items */
}

.navbar-link {
    text-decoration: none;
    color: white;
    font-size: 14px; /* Reduce font size if necessary */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar-right .navbar-item {
    margin: 0 5px;
}

.logout-button {
    background-color: white;
    color:red;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.logout-button:hover {
    background-color: #ccc;
}
