/* Global styles for the login page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbar */
    background-color: #f4f4f4; /* Light background for the login page */
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh; /* Full viewport height */
    padding: 20px;
}

.login-container h2 {
    font-size: 36px;
    color: #8f18be; /* Red color for spotlight */
    margin-bottom: 20px;
    margin-top: -25%;
}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px; /* Adjust width of form */
}

.input-container {
    width: 100%;
    margin-bottom: 15px; /* Space between inputs */
}

.input-container input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-container input:focus {
    border-color: #8f18be;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #8f18be;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Make button full width */
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #c0392b;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
