/* Global reset for margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: Arial, sans-serif;
  height: 100%;
  overflow: hidden; /* Prevent scrollbar */
}

/* App Styling */
.App {
  text-align: center;
}

/* Header Styling */
header {
  display: flex;
  justify-content: flex-start;
  padding: 15px 20px;
  background-color: #621E8B;
  color: white;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left h1,
.header-left .users-container {
  margin-right: 15px;
}

.separator {
  color: #621E8B;
  margin: 0 10px;
}

.header-right {
  display: flex;
  align-items: center;
}

.username-link,
.logout-button {
  color: white;
  margin-left: 10px;
  text-decoration: none;
}

.logout-button {
  background: none;
  border: none;
  cursor: pointer;
}

.username-link:hover,
.logout-button:hover {
  color: #f0f0f0;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}

header .user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px; /* Adds space between spotlight and users */
}

header .username-link,
header .login-link {
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

header .username-link:hover {
  text-decoration: underline;
}

header .users-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

header .users-link .user-icon {
  width: 20px;
  margin-right: 5px;
}

header .users-link span {
  font-size: 14px;
}

/* Login Container Styling */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 150px;
  height: 100vh;
  background-color: #f4f4f4;
}

.login-container h2 {
  font-size: 36px;
  color: #621E8B;
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
}

.login-container .input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.login-container .input-container label {
  font-size: 16px;
  margin-bottom: 5px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-container input:focus {
  border-color: #621E8B;
  outline: none;
}

.login-container button {
  padding: 10px 20px;
  background-color: #621E8B;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
}

.login-container button:hover {
  background-color: #721099;
}

.error {
  color: #621E8B;
  font-size: 14px;
}

/* Home Page Layout */
.home-container {
  display: flex;
  padding: 20px;
}

/* Left Pane */
.left-pane {
  flex: 0.3; /* Adjust width to 30% */
  padding: 20px;
  background-color: #f4f4f4;
}

/* Center Pane */
.center-pane {
  flex: 1.4; /* Adjust to take up more space (140%) */
  padding: 20px;
}

/* Right Pane */
.right-pane {
  flex: 0.3; /* Adjust width to 30% */
  padding: 20px;
  background-color: #f4f4f4;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px #621E8B;
}

.user-info h3 {
  font-size: 24px;
  font-weight: bold;
  color: #621E8B;
}

.balance-info,
.recognize-info {
  margin-top: 20px;
  margin-left: 15px;
}

.balance-info .label,
.recognize-info .label {
  font-size: 16px;
  color: #621E8B;
}

.large-number {
  font-size: 48px;
  font-weight: bold;
  color: #621E8B;
}

.request-budget-btn {
  background-color: #621E8B;
  color: white;
  border: none;
  padding: 10px 60px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.request-budget-btn:hover {
  background-color: #721099;
}

.newsfeed {
  background-color: #ecf0f1;
  padding: 15px;
  border-radius: 5px;
}

.top-recognized {
  background-color: white;
  color: #621E8B;
  padding: 0; /* Remove padding from the top-recognized div */
  border-radius: 10px; /* Keep rounded corners for the container */
  box-shadow: 0 4px 6px #621E8B;
  padding-bottom: 1px;
}

.top-bar {
  background-color: #621E8B; /* Purple background */
  width: 100%; /* Full width */
  padding: 15px; /* Padding for spacing inside the bar */
  border-radius: 0; /* No rounded corners */
}

.top-bar h4 {
  color: white; /* White font color */
  margin: 0; /* Remove default margins */
}

.separator {
  height: 1px;
  background-color: #621E8B;
}

.this-month p {
  font-size: 18px;
  font-weight: bold;
  color: #621E8B;
}

.this-month{
  margin-right: 10%;
  margin-left: 10%;

}

.rank-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 10%;
  margin-left: 10%;
  color: #621E8B;
}

.rank-number {
  font-size: 36px;
  font-weight: bold;
}

.rank-label,
.recognition-stats p {
  font-size: 14px;
  color: #621E8B;
  text-align: center;
}

.bottom-section {
  background-color: white; /* Changed to white for consistency */
  border-radius: 10px; /* Keep rounded corners for bottom section */
  box-shadow: 0 4px 6px #621E8B; /* Shadow for visual depth */
  color: #621E8B; /* Text color */
  padding: 20px; /* Padding inside bottom section */
  margin: 5% 5% 10%; /* Add a bottom margin of 10% */
}


.bottom-section h5 {
  font-size: 18px;
  font-weight: bold;
}

.bottom-section ul {
  list-style-type: none;
  padding: 0;
}

.bottom-section li {
  font-size: 16px;
}


.spotlight-link {
  text-decoration: none;
  color: white;
}

.navbar {
  background: linear-gradient(to bottom, red, #8b0000); /* Gradient from red to dark red */
  padding: 10px 20px;
  color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-header {
  display: flex;
  align-items: center;
}

.navbar-brand {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-left: 20px; /* This will move the "Users" link away from "Spotlight" */
}

.navbar-item {
  margin-right: 15px;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar-link-profile {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: flex;
}

.navbar-link:hover {
  color: #f0f0f0;
}

.navbar-right {
  margin-left: auto;
}

.logout-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 15%;
}

.logout-button:hover {
  color: #f0f0f0;
}

.users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.lightbulb-icon, .user-icon, .badge-icon, .gift-icon {
  font-size: 24px;
  margin-right: 5px;
}

.home-container {
  display: flex;
}

.left-pane {
  width: 250px;
  padding: 20px;
  background-color: #f5f5f5;
  border-right: 1px solid #ddd;
}

.user-info,
.balance-info,
.recognize-info {
  padding: 30px 0;
  align-items: center;
  color: #721099;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin: 10px 0;
}

.center-pane {
  flex-grow: 1;
  padding: 20px;
}



.separator {
  width: 90%; /* Set width to 90% */
  height: 1px; /* Height of the separator */
  background-color: #621E8B; /* Color of the separator */
  margin: 10px auto; /* Center horizontally and add vertical margin */
}


.left-pane h3,
.left-pane .label,
.right-pane h4,
.right-pane p,
.right-pane .rank-number,
.right-pane .rank-label,
.right-pane h5,
.right-pane ul {
  margin: 0;
}

.left-pane p,
.right-pane p,
.right-pane ul {
  margin: 5px 0 0;
}

/* Home Page Layout */
.home-container {
  display: flex;
  padding: 20px;
  height: calc(100vh - 100px); /* Adjust for header or any other fixed elements */
}

/* Left Pane */
.left-pane {
  width: 250px; /* Keep fixed width */
  padding: 20px;
  background-color: #f5f5f5;
  border-right: 1px solid #ddd;
}

/* Center Pane (Newsfeed area) */
.center-pane {
  flex-grow: 1; /* Allow the center pane to grow and take up available space */
  padding: 20px;
  background-color: #ecf0f1;
}

/* Right Pane */
.right-pane {
  width: 250px; /* Keep fixed width */
  padding: 20px;
  padding-bottom: 20%;
  background-color: #f5f5f5;
  border-left: 1px solid #ddd;
}

/* Newsfeed Styling */
.newsfeed {
  background-color: #ecf0f1;
  padding: 15px;
  border-radius: 5px;
  height: 100%; /* Ensure it takes full space in the center pane */
  overflow-y: auto; /* Make sure content scrolls within the newsfeed */
}

/* Other existing styles for left, right, and center panes */
.left-pane .user-info, .right-pane .top-recognized {
  margin-bottom: 20px; /* Optional, just to give space between sections */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: Arial, sans-serif;
}

/* Home Page Layout */
.home-container {
  display: flex;
}

/* Left Pane */
.left-pane {
  flex: 0.3; /* Adjust width to desired percentage */
  padding: 20px;
}

/* Center Pane (Newsfeed area) */
.center-pane {
  flex-grow: 1; /* Allow the center pane to grow and take up available space */
  padding: 20px;
}

/* Right Pane */
.right-pane {
  flex: 0.3; /* Adjust width to desired percentage */
  padding: 20px;
}

/* Newsfeed Styling */
.newsfeed {
  background-color: #ecf0f1;
}

.news-item {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: rgba(0,0,0,0.1) 0px 2px 4px;
}

.news-item-header {
   display: flex;
   align-items: center;
   gap: 20px; /* Space between emblem image and text */
}

.emblem-image {
   width: 80px; /* Adjust size as needed */
   height: auto; /* Maintain aspect ratio */
   border-radius:50%; /* Circular image */
   object-fit: cover; /* Ensures the image scales nicely within its container */
}

.emblem-info {
   flex-grow:1; /* Allow this section to take up available space */
}

.emblem-name {
   font-weight:bold; 
}

.recipients {
   color:#555; /* Lighter color for recipients */
}

.news-item-message {
   margin-top:10px; /* Space between header and message */
}

.sender-name {
   font-weight:bold; /* Bold sender's name */
   font-size: small;
}

